body{
  min-height: 100vh;
  display: flex;
  background-color: aqua;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  margin:3%; 
}
input ,.firstNameDiv ,.secondNameDiv{
  padding: 10px;
  margin:4%;
}

