*{
    margin:0;
    padding:0;
    font-size: 1.5rem;
    font-family: cursive;

}
body{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    
    
    background-color: white
}
.container{
    
    width: 600px;
    margin: 0 auto;
    
}
.showData{
    border: 5px solid white;
}

.todoUnit{
    /* display: flex;
    justify-content:center;
    align-items: center; */
    width: 450px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin:5px 0;
    box-shadow: 10px 10px 5px 8px rgb(198, 208, 243);
-webkit-box-shadow: 3px 9px 2px -4px #7b7b7b;
-moz-box-shadow: 10px 10px 5px 8px white;

}
button{
    padding-right: 30px;
    background-color:white;
    color:red;
    
}
.addBtn{
    color:green;
    margin :10px;
    padding: 0 10px;
   
}
input{
    background-color: white;
    width: 70%;
}
.inputField{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom:40px;
    margin-top:40px;
   
}
input{
    padding: 0 10px;
}
.todoContainer{
    border:2px  solid purple;
    overflow-y: scroll;
    
    height:500px;
    width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.task{
    padding: 0 10px;
}