* {
  box-sizing: border-box;
  margin: 0;
  padding-top: 0;
}
.container {
  display: flex;
  border: 2px solid rgb(195, 239, 248);
  border-radius: 5px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 50px;
  /* position: absolu */
  margin: 0 auto;
  background-color: rgb(62, 62, 143);
}
input {
  height: 30px;
  line-height: 50px;
  text-align: center;
  padding: 7px;
}

.colored {
  color: rgba(214, 27, 27, 0.863);
}
.icons {
  margin-right: 4%;
  display: inline-block;
}
.navbar .bi {
  display: inline-block;

  width: 50px;
  height: 50px;
  font-size: 1.8rem;
  line-height: 50px;
}

.story-container {
  border-bottom: 2px solid rgb(252, 174, 255);
  display: flex;
  padding-top: 7%;
  width: 600px;
  margin-left: 10%;
 
}
.post-options .bi {
  font-size: 1.3rem;
  margin-right: 7px;
}
#story {
  text-align: center;
}
.story-container {
  overflow: scroll;
}
.story-container::-webkit-scrollbar {
  width: 0;
}
#story > .img {
  display: inline-block;

  border-radius: 50%;
  width: 65px;
  height: 65px;
  margin: 8px;
  margin-bottom: 0;
  /* border: 1px solid rgb(230, 118, 118); */
}
.post-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(228, 223, 223);
  width: 100%;
  padding:0,  5px;
}
.post-nav > input {
  border: none;
}
.post-nav > bi{margin-top: 50px;}
.post-container {
  margin-top: 2%;
  margin-left: 10%;
  width: 600px;
  margin-top: 2%;
}
.post-containers {
  margin-top: 2%;
  padding: 2%;
  border: 5px solid rgb(219, 183, 240);
  border-radius: 5px;
  height: fit-content;
}
.postImage {
  margin: 0;
  width: 100%;
  height: 60%;
  border: 1px solid rgb(255, 247, 247);
  padding: 2px;
}
.post-options,
.post-user {
  display: flex;
  padding: 1%;
  align-items: center;

  justify-content: space-between;
  border: 1px solid rgb(171, 241, 224);
  border-radius: 3px;
}
.bi {
  font-weight: 700;
  color: black;
  margin-bottom: 4%;
}
.story-img {
  border-radius: 50%;
  border: 2px solid rgb(230, 28, 105);
}
.navbar {
  position: fixed;
  width: 100vw;
  /* background-color: rgb(87, 87, 230); */
  /* margin-left: 10%; */
  opacity: 0.8;
}
@media screen and (max-width: 600px) {
  .post-container {
    margin: 0 10%;
  }
}

.userProfile,
.suggested-userProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 0.5%;
}
.userProfile .bi {
  font-size: 3rem;
  margin-right: 1%;
}
.user-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.link {
  color: rgb(59, 135, 250);
  font-weight: 300;
}
.suggested-userProfile .bi {
  font-size: 2rem;
}
.profile-container{
  width: 400px;

  position:fixed;
  left:calc(610px + 10%);
  top:17%;
}
.suggetions-img{
  border-radius: 50%;
  margin:5px;
  border:  2px solid rgb(243, 38, 89);
}
.post-options span .bi{
  margin: 10px;;
}