#card{
  background-color:#3A6351;
  color:white;
  margin:1%; 
  border-radius:3%;
  padding:3%;
  min-height: 10%;
}
#head,#content{
  text-align: center;
  margin:0;
  padding: 10px;
}
#head{
  text-transform: capitalize;
}